@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #1f242d;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: aliceblue;
    font-family: "Montserrat", sans-serif;
    padding: 2rem;
}

.btn {
    border: None;
    background-color: #1f242d;
    color: white;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: .5rem;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn:hover {
    background-color: #707070;
}

#btn-open {
    font-size: 3rem;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(79, 70, 229, 0.6);
    }
    70% {
        transform: scale(1.06);
        box-shadow: 0 0 10px 10px rgba(79, 70, 229, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(79, 70, 229, 0);
    }
}

main {
    background-color: #7793c5;
    border-radius: 1rem;
    overflow: hidden;
    width: 0;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.158);
}

main img{
    border-radius: 1.5rem;
    border-top-left-radius: 0;
}

header {
    padding: 2rem;
    text-align: center;
    border-bottom: 2px solid rgb(255, 255, 255);
    position: relative;
}

header i {
    position: absolute;
    font-size: 3rem;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: .2s ease-in-out;
}

header i:hover {
    color: #707070;
}

h1 {
    font-family: "Press Start 2P", system-ui;
}

.inner, .info {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 780px) {
    .inner {
        flex-direction: column;
    }

    main img{
        width: 100%;
        border-top-right-radius: 0;
    }
}

.info {
    flex-direction: column;
    padding: 2rem;
    gap: 3rem;
}

.info p {
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
}