body {
    background-color: black;
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
}

h1 {
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}